-- INNER JOIN  Retorna registros que possuem valores correspondentes nas duas tabelas

SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [NOTAS FISCAIS]

-- INNER JOIN SEM ALIAS
SELECT * FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA

-- INNER JOIN COM ALIAS
SELECT * FROM [TABELA DE VENDEDORES] A INNER JOIN 
[NOTAS FISCAIS] B ON A.MATRICULA = B.MATRICULA

--TRAZ A QUANTIDADE DE NOTAS FISCAIS POR VENDEDOR
SELECT [TABELA DE VENDEDORES].MATRICULA, COUNT(*) AS VENDAS
FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA
GROUP BY [TABELA DE VENDEDORES].MATRICULA

--TRAZ A QUANTIDADE DE NOTAS FISCAIS POR VENDEDOR POR ANO
SELECT [TABELA DE VENDEDORES].MATRICULA, [TABELA DE VENDEDORES].[NOME], YEAR(DATA) AS ANO_VENDA, COUNT(*) AS VENDAS
FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA
GROUP BY [TABELA DE VENDEDORES].MATRICULA, [TABELA DE VENDEDORES].[NOME], YEAR(DATA)

--TRAZ A QUANTIDADE DE NOTAS FISCAIS POR VENDEDOR POR ANO PELA ORDEM DO ANO
SELECT [TABELA DE VENDEDORES].MATRICULA, [TABELA DE VENDEDORES].[NOME], YEAR(DATA), 
COUNT(*) FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA
GROUP BY [TABELA DE VENDEDORES].MATRICULA, [TABELA DE VENDEDORES].[NOME], YEAR(DATA)
ORDER BY YEAR(DATA)

--TRAZ A QUANTIDADE DE NOTAS FISCAIS POR VENDEDOR POR ANO PELA ORDEM DO ANO + ALFABETICA DO NOME
SELECT [TABELA DE VENDEDORES].MATRICULA, [TABELA DE VENDEDORES].[NOME], YEAR(DATA), 
COUNT(*) FROM [TABELA DE VENDEDORES] INNER JOIN 
[NOTAS FISCAIS] ON [TABELA DE VENDEDORES].MATRICULA = [NOTAS FISCAIS].MATRICULA
GROUP BY [TABELA DE VENDEDORES].MATRICULA, [TABELA DE VENDEDORES].[NOME], YEAR(DATA)
ORDER BY YEAR(DATA), [TABELA DE VENDEDORES].[NOME]

--Obtenha o faturamento anual da empresa. Leve em consideração que o valor financeiro das vendas consiste em multiplicar a quantidade pelo preço. 
--SELECT idProduto, (quantidade * valor) AS Total, produto, valor, quantidade FROM Pedidos
--(se necessario) Where Clausula-de-busca

SELECT SUM(QUANTIDADE * PREÇO) AS FATURAMENTO, YEAR(DATA) AS ANO -- IMPLICITAMENTE OS CAMPOS QTD E PRECO JA SAO ASSOCIADOS AO ITENS NOTAS FISCAIS
FROM [ITENS NOTAS FISCAIS] INF INNER JOIN
[NOTAS FISCAIS] NF ON INF.NUMERO = NF.NUMERO
GROUP BY YEAR(DATA)
ORDER BY YEAR(DATA)