-- FULL JOIN É A JUNCAO DO INNER,LEFT E RIGTH

SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [TABELA DE CLIENTES]

-- RETORNA SOMENTE OS BAIRROS CORRESPONDENTES ENTRE OS VENDEDORES E CLIENTES
SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE VENDEDORES].NOME, [TABELA DE CLIENTES].BAIRRO, [TABELA DE CLIENTES].NOME FROM
[TABELA DE VENDEDORES] INNER JOIN [TABELA DE CLIENTES] ON 
[TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

-- TESTE COM GROUP BY
SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE VENDEDORES].NOME, [TABELA DE CLIENTES].BAIRRO, [TABELA DE CLIENTES].NOME FROM
[TABELA DE VENDEDORES] INNER JOIN [TABELA DE CLIENTES] ON 
[TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO
GROUP BY [TABELA DE VENDEDORES].BAIRRO, [TABELA DE VENDEDORES].NOME, [TABELA DE CLIENTES].BAIRRO, [TABELA DE CLIENTES].NOME

-- RETORNAR TODOS OS REGISTRO DA TABELA DA ESQUERDA SEGUINDO A MESMA IDEIA DA QUERY 1
SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE VENDEDORES].[NOME],  
[TABELA DE CLIENTES].BAIRRO, [TABELA DE CLIENTES].[NOME] FROM
[TABELA DE VENDEDORES] LEFT JOIN [TABELA DE CLIENTES] ON 
[TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

-- RETORNAR TODOS OS REGISTRO DA TABELA DA DIREITA SEGUINDO A MESMA IDEIA DA QUERY 1
SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE VENDEDORES].[NOME],  
[TABELA DE CLIENTES].BAIRRO, [TABELA DE CLIENTES].[NOME] FROM
[TABELA DE VENDEDORES] RIGHT JOIN [TABELA DE CLIENTES] ON 
[TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

-- RETORNA TODAS AS CONSULTAS ACIMA EM UMA
SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE VENDEDORES].[NOME],  
[TABELA DE CLIENTES].BAIRRO, [TABELA DE CLIENTES].[NOME] FROM
[TABELA DE VENDEDORES] FULL JOIN [TABELA DE CLIENTES] ON 
[TABELA DE VENDEDORES].BAIRRO = [TABELA DE CLIENTES].BAIRRO

SELECT [TABELA DE VENDEDORES].BAIRRO, [TABELA DE CLIENTES].BAIRRO FROM
[TABELA DE VENDEDORES] CROSS JOIN [TABELA DE CLIENTES] 